/* ---------- MAIN ---------- */
  
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }

.main-container label{
    margin: 4px;
}


.main-container input{
    margin: 5px;
    background-color: #1d2634;
    border: none;
    border-bottom: 1px solid #9e9ea4;
}

.main-container button{
    background-color: #425574;
    padding: 15px 25px;
    border: none;
}

.main-container button:hover{
    background-color: #263043;
    border: 1px solid #d1d1d6;
}
