{% extends "employees/base.html" %} 
{% load static %} 

{% block title %}Add an employee{% endblock %}
{% block header %}Add an employee{% endblock %}
{% block content %}

 <!-- Custom CSS -->
 <link rel="stylesheet" href="{% static '/css/add_emp.css' %}">

<title>Add An Employee</title>
<main class="main-container">
  <form action="/add_emp/" method="post">
    {% csrf_token %}
    <label for="first_name">First Name</label><br >
    <input
      type="text"
      id="first_name"
      name="first_name"
      value="{{ first_name }}"
      class="text-white"><br>
        
    <label for="last_name">Last Name</label><br>
    <input
      type="text"
      id="last_name"
      name="last_name"
      value="{{ last_name }}"
      class="text-white"><br>
    
    <label for="email">Email</label><br>
    <input
      type="email"
      id="email"
      name="email"
      value="{{ email }}"
      class="text-white"><br>

    <label for="dept">Department</label><br>
    <select name="dept" aria-label="Default select example" class= "bg-transparent text-white">
      {% for dept in depts %}
      <option class="bg-transparent text-dark" value="{{dept.name}}">{{dept.name}}</option>
      {% endfor %}
    </select>
    <br>

    <label for="role">Role</label><br>
    <select name="role" aria-label="Default select example" class= "bg-transparent text-white">
      {% for role in roles %}
      <option class="bg-transparent text-dark" value="{{role.name}}">{{role.name}}</option>
      {% endfor %}
    </select>
    <br> 

    <label for="salary">Salary</label><br >
    <input
      type="number"
      id="salary"
      name="salary"
      value="{{ salary }}"
      class="text-white"><br>

    <label for="bonus">Bonus</label><br >
    <input
      type="number"
      id="bonus"
      name="bonus"
      value="{{ bonus }}"
      class="text-white"><br>

    <label for="phone">Phone Number</label><br >
    <input
      type="number"
      id="phone"
      name="phone"
      value="{{ phone }}"
      class="text-white"><br>
      
    <label for="hire_date">Hire Date</label><br>
    <input type="datetime-local" id="hire_date" name="hire_date" class="text-white"><br>

    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

{% endblock %}
