{% extends "employees/base.html" %} 
{% load static %} 

{% block title %}Remove Employee{% endblock %}
{% block header %}Remove Employee{% endblock %}

{% block content %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static '/css/remove_emp.css' %}">

 <!-- Main -->
<main class="main-container">
      
  <div class="dropdown" data-bs-theme="dark">
    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
      Choose Employee To Be Removed
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for emp in emps %}
      <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></li>
      {% endfor %}
    </ul>
  </div>

</main>

{% endblock %}
