{% extends "employees/base.html" %} 
{% load static %} 

{% block title %}All clients{% endblock %}
{% block header %}All clients{% endblock %}
{% block content %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static '/css/view_all_emp.css' %}">

<!-- Main -->
<main class="main-container">
    
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Client Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
        {% for client in clients %}
      <tbody>
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{client.client_name}}</td>
          <td>{{client.gender}}</td>
          <td>{{client.client_email}}</td>
          <td>{{client.client_phone}}</td>
          <td>{{client.website}}</td>
    
        </tr>
        {% endfor %}
    
      </tbody>
    </table>


</main>
<!-- End Main -->

{% endblock %}